.navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: -4px;
    width: 100%;
    left: 0;
    height: 80px;
    font-size: 30px;
    
}

.navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.inner{
    justify-content:space-evenly;
}

.navbar a:hover {
    background: #3a4664;
    color: #f2f2f2;
}

.navbar-text {
    font-size: 20px;
}