 .googleMaps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5%;
    width:60%;
    max-width:1280px;
    margin: auto;
    margin-top: -40px;
 }
 .googleMaps-ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 85%
}
    


 .googleMaps-ul-li {
    list-style-type: none;
    border:2px solid rgb(38, 36, 36);
    padding:5px 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .googleMaps-form-container {
    padding:25px;
    border:2px solid brown;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, .3) 0px -3px 5px;

    && div {
        display:flex;
        justify-content: space-evenly;
    };
    && form {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: stretch;
    }
 } 


 .test{
   color:red;
 }

 .title{
  text-align: center;
    justify-content: center;
    align-items: center;
 }

 .map{
   margin-top: 20px;
   text-align: center;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
   rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, .3) 0px -3px 5px;
 }